





body{
    background-color: gray;
    font-family: 'Montserrat', sans-serif;
}
.style-css{
    text-shadow: 2px 2px 8px #e4e0e0;
}
#our-team .card{
    box-shadow: 5px 10px 8px 10px #d3d3d3;
    cursor: not-allowed;
}
#our-team .card:hover{
    opacity: 0.7;
}