





body{
    background-color: gray;
}
/* #our-team{


} */
/* #our-team img{
    width: 200px;

} */
/* #our-team .row{
    padding-right: 0;
    padding-left: 0;
} */
/* .mycard{
    border: 1px solid white;
    background-color: rgb(4, 164, 238);
} */